{% extends "base.html" %}

{% block title %}
Buscar Estudiante
{% endblock %}

{% block content %}

    {% if request.GET.indicencia == "correcto" %}
         <div class="alert alert-success" role="alert">¡Correcto! La incidencia se registró exitosamente. Seleccione una materia para ingresar otra incidencia o
             <a href="{% url 'home' %}">Volver al inicio</a></div>
    {% endif %}

    <div class="list-group">

        {% for asignatura in asignaturas %}
            <a href="{{ asignatura.id }}" class="list-group-item">{{ asignatura.asignatura.asignatura.nombre }}</a>
        {% endfor %}
    </div>
{% endblock %}